Flask 
CORS 
Resource 
Api 
requests
certifi 
charset-normalizer 
click 
idna 
itsdangerous
Jinja2
JsonForm
JsonSir
python-easyconfig 
urllib3 
Werkzeug
argparse 
colorama 
future 
gevent 
nose 
PySocks
tldextract
cffi
filelock
greenlet
MarkupSafe
requests-file 
jsonschema 
PyYAML 
six 
zope.event
zope.interface 
attrs 
pyrsistent 
pycparser 
setuptools
Flask-Cors